{% extends 'paginas/modelo.html' %}
{% load static %}
{% block titulo %}
<title>Detalhes do produto</title>
{% endblock titulo %}
{% block conteudo %}


<div class="container container-fluid" id="tbl_detalhes">
    <div class="box">
        <h2 align="center">Detalhes do produto</h2>
        <a href="{% url 'listar-produtos' %}" class="btn btn-info">Voltar</a>
        <hr>
        <h2>
            {{object}}
            <span style="float: right; padding-right: 10px; color: white;">
                <button type="button" class="btn btn-success">
                    <a style="color: white;" href="{% url 'editar-produto' object.pk %}">
                        <i class="fas fa-pen-square" style="color: white;"></i> Editar
                    </a>
                </button>
            </span>
        </h2>

        <hr>
        <table id="tbl_detail" class="table table-condensed table-sm table-striped table-bordered align-middle">
            <thead class="thead-dark text-center">
                <th class="align-middle" colspan=2>Descrição</th>
                <th class="align-middle" rowspan=5>Imagem</th>
            </thead>
            <tbody>
                <tr>
                    <th class="align-middle text-center text-monospace" colspan=2>Caractgerísticas do produto</th>
                    <th class="align-middle" id="celula_foto" rowspan=6>
                        <div class="imagem_produto">
                            <img id="img_prouto" class="img-thumbnail" src="/static/images/{{object.foto}}"
                                alt=" Imagem não disponível">
                            <figcaption class="figure-caption text-center font-weight-light">{{object}}</figcaption>
                        </div>
                    </th>
                </tr>
                <th class="align-middle">Código do produto:  </th>
                <td class="align-middle">{{object.codigo_produto_formatado}}</td>
                </tr>

                </tr>
                <th class="align-middle">Preço do produto: </th>
                <td class="align-middle">R$ {{object.preco_unitario}}</td>
                </tr>
                <tr class="align-middle">
                    <th class="align-middle">Cor do produto: </th>
                    <td class="align-middle">{{object.cor_produto}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Tamanho do produto: </th>
                    <td class="align-middle"> {{object.tamanho_produto}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Quantidade disponível: </th>
                    <td class="align-middle">{{object.quantidade_disponivel}}</td>
                </tr>
                <tr>
                    <td class="align-middle text-center" colspan=3>Detalhes: {{object.descricao_produto}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>
{% endblock conteudo %}