{% extends 'paginas/modelo.html' %}

{% load static %}
{% block titulo %}
<title>Lista de usuários</title>
{% endblock titulo %}

{% block titulo_pagina %}
<h1 align="center">USUÁRIOS CADASTRADOS</h1>
{% endblock titulo_pagina %}

{% block conteudo %}

<p>
    <h2 align=center>Lista de usuários cadastrados no SIIC</h2>
</p>

<div class="container-fluid">
    <style>
    .dataTables_filter{
            float: right !important;
        }
    </style>
    <hr>
    <div class="table table-responsive">
        <table class="table table-hover" id='tabela_listar_usuario'>
            <thead class="thead-dark">
                <tr>
                    <th>ID User</th>
                    <th>Nome User</th>
                    <th>Email</th>
                    <th>Nome completo</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Data do registro</th>
                    <th>Opcões</th>
                </tr>
            </thead>

            <tbody>
                {% for Usuario in object_list %}
                <tr>
                    <td>{{Usuario.pk}}</td>
                    <td>{{Usuario.username}}</td>
                    <td>{{Usuario.email}}</td>
                    <td>{{Usuario.nome_completo}}</td>
                    <td>{{Usuario.cpf}}</td>
                    <td>{{Usuario.telefone}}</td>
                    <td>{{Usuario.date_joined}}</td>
                    <td>
                        <a href="{% url 'editar-usuario' Usuario.pk %}" class="btn btn-warning btn-sm" title="Editar"><i
                                class="fas fa-edit" aria-hidden="true"></i></a>
                        <a href="{% url 'excluir-usuario' Usuario.pk %}" class="btn btn-danger btn-sm"
                            title="Excluir"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum campo registrado</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% comment %} Datatable Jquery {% endcomment %}
        {% block scripts %}
        <script>
            $(document).ready(function () {
                $('#tabela_listar_usuario').DataTable({
                    retrieve: true,
                    responsive: true,
                    searching: true,
                    //"dom": '<l<t>ip<r>r<f>>',
                    "aaSorting": [],
                    "pageLength": 50,
                    "language": {
                        "decimal": "",
                        "emptyTable": "Sem dados disponíveis",
                        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                        "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                        "infoFiltered": "(filtrado de _MAX_ registos no total)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ registos",
                        "loadingRecords": "A carregar dados...",
                        "processing": "A processar...",
                        "search": "Procurar:",
                        "zeroRecords": "Não foram encontrados resultados",
                        "paginate": {
                            "first": "Primeiro",
                            "last": "Último",
                            "next": "Seguinte",
                            "previous": "Anterior"
                        },
                        "aria": {
                            "sortAscending": ": ordem crescente",
                            "sortDescending": ": ordem decrescente"
                        }
                    }
                });
            });

        </script>
        {% endblock scripts %}
        <hr>
    </div>
</div>
{% endblock conteudo %}
