<!DOCTYPE html>

{% extends 'paginas/modelo.html' %}

{% block conteudo %}
<div>
    <p>
        
    </p>
    <h2 align="center">Relatório de Movimentação do Estoque</h1>
    <br><br>
    
    <p>
        <!-- Campo de Data inicio e fim -->
        <label style="margin-left: 10px" for="date">De:</label>
            <input type="date" id="data_ini">
        <label style="margin-left: 10px" for="date">Até:</label>
            <input type="date" id="data_fim">
        <button style="margin-left: 20px;" type="button" class="btn btn-primary">Pesquisar</button>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Estoque</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody>
                {% for campos in campos_relatorio %}
                    <tr>
                        <th> scope="row">{{ campos.id }} </th>
                        <td>{{ campos.estoque }}</td>
                        <td>{{ campos.produto }}</td>
                        <td>{{ campos.quantidade }}</td>
                        <td>{{ campos.saldo }}</td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </p>
</div>
{% endblock conteudo %}