{% extends 'paginas/modelo.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block conteudo %}

{% block css %}
<style>
    span.required:after {
        content: "*";
        color: red;
    }

    .form-control {
        margin: 5px;
    }

    .form-inline.col-sm-12 {}

    .checkbox {
        color: grey !important;
        margin-left: 20px !important;
        text-indent: 7px;
    }

    i {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    h5{
        background-color: #768591;
        border-radius: 3px;
        color: #F0F0EB;
        text-align: left;
        padding-left: 10px; 
    }
</style>
{% endblock css %}
<P></P>
<div class="container-fluid">
    <div class="col-12" align="center">
        <h1 style="text-align: center;">ENTRADA DE ITENS</h1>
        <div class="row h-100 justify-content-center align-items-cente">
            <form method="POST" novalidate style="padding-bottom: 10px;">
                {% csrf_token %}
                <H5>ESTOQUE - SAÍDA: </H5>
                <hr style="margin: 5px;">
                <div class="form-fluid" style="margin-bottom: 5px; align: center;">
                    {% for field in form.visible_fields %}
                    <div style="margin: 5px; width: 100%;"
                        class="form-group {% if field.errors %} has-error {% endif%}">
                        <div class="input-group mb-3" style="margin: 5px; width: 100%;">
                            <label style="margin: 5px; width: 20%;" class="label label-primary"
                                for="{{ field.id_for_label }}">
                                <span class="input-group-text" id="basic-addon1">
                                    {% if field.field.required %}
                                    <span style="margin-left: 2px;" class="required">{{ field.label }}</span>
                                    {% else %}
                                    <span style="margin-left: 10px;">{{ field.label }}</span>
                                    {% endif %}
                                </span>
                            </label>
                            <span style="margin-left: 0px; color: #ccccc; vertical-align: middle;">
                                <i style="position: absolute;" class="fas fa-chevron-right"></i>
                            </span>
                            <span style="margin-left: 15px;">{% render_field field class="form-control" %}</span>
                            {% for error in field.errors %}
                            <span class="text-muted">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {{ formset.management_form }}
                    </div>
                </div>
                <hr>
                <h5>PRODUTOS: </h5>
                    <hr>
                    <div id="estoque" class="form-inline justify-content-center" style="padding: 10px;">
                        {% for item_estoque_form in formset %}
                        <div class="inlineform">
                            <div id="item-{{ forloop.counter0 }}" class="form-group">
                                {{ item_estoque_form.produto|bootstrap }}
                                {{ item_estoque_form.quantidade|bootstrap }}
                                {{ item_estoque_form.saldo|bootstrap }}
                                {{ item_estoque_form.preco_unit|bootstrap }}
                                <span id="apagar_item">{{ item_estoque_form.DELETE|bootstrap }} </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="col-sm-12">
                        <div class="row float-left">
                            <span id="add-item" class="btn btn-info" style="margin-top: 10px;">
                                <i class="fa fa-plus"></i> Adicionar
                            </span>
                        </div>
                        <div class="row float-right">
                            <div class="col-sm-12" style="margin-top: 50px;">
                                <div class="form-inline buttons">
                                    <button class="btn btn-primary" value="Save">
                                        <i class="fa fa-floppy-o"></i>
                                        Salvar
                                    </button>
                                    <a style="margin-left: 10px;" href="{% url 'estoque_saida_list' %}"
                                        class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}

{% block scripts %}


{% comment %} Link JS externo {% endcomment %}

<script src="{% static 'js/estoque_saida.js' %}"></script>
<script type="text/html" id="item-estoque">
    <div id="item-__prefix__" class="form-group">
        {{ formset.empty_form|bootstrap }}
    </div>
</script>


{% endblock scripts %}