{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Detalhes do item</title>
{% endblock titulo %}

{% block conteudo %}

<h2 align="center">Detalhes do item</h2>
<container class="container container-fluid">
    <div class="row">
        <div class="class col-sm-3"></div>
        <div class="col col-sm-6">
            <a href="{% url 'estoque_entrada_list' %}" class="btn btn-info">Voltar</a>
            <hr>
            <h1 style="margin-left: 10px; margin-top: 10px;" class="float-left">
                {{object}}

            </h1>

            <div class="container" style="background-color: #FAFCFF; border-radius: 5px;">
                <table class="table table-user-information table-responsive">
                    <tbody>
                        <tr>
                            <th>Nota fiscal: </th>
                            <td>{{object.nota_formatada}}</td>
                        </tr>
                        <tr>
                            <th>Data da criação: </th>
                            <td>{{object.created}}</td>
                        </tr>
                        </tr>
                        <tr>
                            <th>Funcionário responsável: </th>
                            <td>{{object.funcionario}}</td>
                        </tr>
                        </tr>

                    </tbody>
                </table>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object.estoques.all %}
                    <tr>
                        <td>{{obj.produto}}</td>
                        <td>{{obj.quantidade}}</td>
                        <td>{{obj.saldo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</container>

{% endblock conteudo %}