{% extends 'paginas/modelo.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block titulo %}
<title>Relação completa</title>
{% endblock titulo %}
{% block conteudo %}

<div class="container col-sm-12 text-center pb-0" style="padding-top: 10px;">
        <h6 class="text-monospace">DETALHAMENTO DA MOVIMENTAÇÃO DO ESTOQUE</h6>
        {% comment %} {{myFilter.form}} {% endcomment %}
</div>
<div class="col col-md-6 offset-md-3" style="position: flex !important; ">
    <form>
        <div class="form-row float-none">
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Data inicio: </div>
                    </div>
                    <input class="form-control" id="inlineFormInputGroup" style="margin: 0px;" type="date"
                        name="start_date">
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Data fim: </div>
                    </div>
                    <input class="form-control" id="inlineFormInputGroup" style="margin: 0px;" type="date"
                        name="end_date">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">OK</button>
            </div>
        </div>
    </form>
</div>
<hr>
<div class="col m-1">
    {% render_table table %}
</div>
{% endblock conteudo %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#tbl_lista_completa').DataTable({
            dom: 'Blfrtip',
            buttons: ['excel',
                        {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL'
            },
            {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                        );
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                }
            },
            ],

            "columnDefs": [{ targets: [6, 7], className: 'text-right' }],

            responsive: true,
            fixedHeader: true,
            retrieve: true,
            paginate: true,
            info: true,
            "aaSorting": [],
            "pageLength": 10,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Localizar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }

            }

        });
    });
</script>
{% endblock scripts %}