{% extends 'paginas/modelo.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block conteudo %}

{% block css %}
{% endblock css %}
<P></P>
<div class="container-fluid h-100">
    <div class="col-12" align="center">
        <h1 style="text-align: center;">ENTRADA DE ITENS</h1>
        <div class="row h-100 justify-content-center align-items-center">
            <form method="POST" novalidate>
                {% csrf_token %}
                <H5>ESTOQUE - ENTRADA: </H5>
                <hr style="margin: 5px;">
                <div class="form">
                    {% for field in form.visible_fields %}
                    <div class="form-group {% if field.errors %} has-error {% endif%}">
                        <div class="input-group mb-1">
                            <label style=" margin: 5px; width: 20%;" class="label label-primary"
                                for="{{ field.id_for_label }}">
                                <span class="input-group-text" id="basic-addon1">
                                    {% if field.field.required %}
                                    <span style="margin-left: 2px;" class="required">{{ field.label }}</span>
                                    {% else %}
                                    <span style="margin-left: 10px;">{{ field.label }}</span>
                                    {% endif %}
                                </span>
                            </label>
                            <span id="seta_nota"><i class="fas fa-chevron-right"></i></span>
                            <span style="margin-left: 5px;">{% render_field field class="form-control" %}</span>
                            {% for error in field.errors %}
                            <span class="text-muted">{{ error}}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {{ formset.management_form}}
                    </div>
                </div>
                <hr>
                <h5>PRODUTOS: </h5>
                <hr>
                <div id="estoque" class="form-inline justify-content-center" style="padding: 10px;">
                    {% for item_estoque_form in formset %}
                    <div class="inlineform">
                        <div id="item-{{ forloop.counter0 }}" class="form-group">
                            {{ item_estoque_form.produto|as_crispy_field }}
                            {{ item_estoque_form.quantidade|as_crispy_field }}
                            {{ item_estoque_form.saldo|as_crispy_field }}
                            {{ item_estoque_form.preco_unit|as_crispy_field }}
                            <span id="apagar_item">{{ item_estoque_form.DELETE|as_crispy_field }} </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="col-sm-12">
                    <div class="row float-left">
                        <span id="add-item" class="btn btn-info" style="margin-top: 10px;">
                            <i class="fa fa-plus"></i> Adicionar
                        </span>
                    </div>
                    <div class="row float-right">
                        <div class="col-sm-12" style="margin-top: 50px;">
                            <div class="form-inline buttons">
                                <button class="btn btn-primary" value="Save">
                                    <i class="fa fa-floppy-o"></i>
                                    Salvar
                                </button>
                                <a style="margin-left: 5px;" href="{% url 'estoque_entrada_list' %}"
                                    class="btn btn-danger">
                                    <i class="fa fa-times" style="vertical-align: middle;"></i>
                                    <span style="margin-left: 5px;"> Cancelar </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}
{% block scripts %}

{% comment %} Link JS externo {% endcomment %}

<script src="{% static 'js/estoque_entrada.js' %}"></script>
<script type="text/html" id="item-estoque">
    <div id="item-__prefix__" class="form-group">
        {{ formset.empty_form|crispy }}
    </div>
</script>


{% endblock scripts %}