{% extends 'paginas/modelo.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block titulo %}

<title>Relação completa</title>
{% endblock titulo %}
{% block conteudo %}

<P></P>
<span class='text-center'><h4>RELAÇÃO DE MOVIMENTAÇÃO DO ESTOQUE</h4></span>
<hr>
<div class="container-xl" style="padding-top: 20px">

         {% render_table table %}
</div>


{% endblock conteudo %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#tbl_lista_completa').DataTable({
            retrieve: true,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }

            }

        });
    });
</script>
{% endblock scripts %}