@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Julius+Sans+One&family=Jura:wght@300&family=Roboto&display=swap');
span.required:after {
    content: "*";
    color: red;
}

#titulo_index {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    margin: 5px;
}

.form-group {
    vertical-align: auto;
}

.checkbox {
    color: grey !important;
    margin-left: 20px !important;
    text-indent: 7px;
}

h5 {
    background-color: #768591 !important;
    border-radius: 3px;
    color: #F0F0EB;
    text-align: left;
    padding-left: 10px;
}

i {
    vertical-align: auto;
}

#rodape {
    margin-top: 15px;
}

#seta_nota {
    padding: 0.5rem;
}

#estoque {
    background-color: #F0F0EB;
    border: 0.2rem solid lightgrey;
}

#total_geral {
    /* text-transform: uppercase; */
    float: right;
    vertical-align: auto;
}

.control-label {
    padding: 0.5rem;
}

.form-inline {
    display: inline-block !important;
}

.asteriskField {
    margin: 0.2rem;
}

#tbl_detail {
    white-space: nowrap;
    vertical-align: 20%;
}

.imagem_produto {
    width: 100%;
    height: 100%;
    align-items: center;
    max-height: min-content;
}

#celula_foto {
    width: 30%;
}

.clPreco {
    text-align: center;
}

#id_preco_unitario {
    text-align: center;
}

.red {
    background-color: gold !important;
}

.grey {
    background-color: #EE3B3B!important;
    color: white;
}


/* .red:hover {
    background-color: goldenrod!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: white;
} */

body {
    background-color: #dddddd;
}


/* CARDS */

.card {
    padding: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: white;
    border-radius: 6px;
    width: 18rem;
    height: 30rem;
}

.imagem_card {
    border-radius: 0.5rem;
    background-color: #F0F0EB;
    width: 100%;
    height: 100%;
}

.imglogin {
    border-radius: 100px;
    box-shadow: 1px 1px 5px grey;
}

#card-titulo-cadastro {
    vertical-align: bottom;
    background-color: coral;
    color: whitesmoke;
    width: 70%;
    border-radius: 5em;
    font-family: 'Roboto', sans-serif;
}

#card-titulo-estoque {
    vertical-align: bottom;
    background-color: darkcyan;
    color: whitesmoke;
    width: 70%;
    border-radius: 5em;
    font-family: 'Roboto', sans-serif;
}

#card-titulo-exportacao {
    vertical-align: bottom;
    background-color: #009ACD;
    color: whitesmoke;
    width: 70%;
    border-radius: 5em;
    font-family: 'Roboto', sans-serif;
}

#card-titulo-relatorios {
    vertical-align: bottom;
    background-color: #EE3B3B;
    color: whitesmoke;
    width: 70%;
    border-radius: 5em;
    font-family: 'Roboto', sans-serif;
}

.card-top {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-card-top {
    color: #bd2000;
}

.card-group>label {
    width: 100%;
    color: rgb(119, 117, 117);
    font-family: 'Trebuchet MS';
    display: block;
}

.card-group>input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS';
    display: block;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
    background: rgba(121, 121, 121, 0.116);
}

.card-group>button {
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    background-image: linear-gradient(to right, #08719b, #160b79);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS';
    display: block;
    border: 0px;
    outline: 0px;
    font-size: 20px;
}

.btn button:hover {
    background-image: linear-gradient(to right, #05384d, #02010e);
}

.card-corpo {
    width: 100%;
    height: 7rem;
    margin: 0px;
    padding: 0.5rem;
}

.fa-arrow-alt-circle-right {
    color: #dddddd;
}

#total_geral {
    display: table;
    width: 100%;
    background-color: gainsboro;
    color: darkslategray;
}

#id_main-nf_arquivo {
    border-color: white;
    vertical-align: auto;
    border: 0rem;
    padding-top: 0.2rem;
}

#form_entrada {
    margin-bottom: 2rem;
}

#form_saida {
    margin-bottom: 2rem;
}

#resumo {
    padding-top: 0rem;
}

#bloco_botoes_detalhes {
    text-align: center;
}