{% extends 'paginas/modelo.html' %}
{% load static %}
{% block titulo %}
<title>Home</title>
{% endblock %}

{% block conteudo %}

<div align="center" class="container-fluid" style="background-image: url({% static 'img/background.jpg' %});">
    <div style="padding: 20px"></div>
    <div class="jumbotron" style="background-color: none !important;">
        <h1 class="display-3">SIIC</h1>
        <p class="lead">SISTEMA INTEGRADO DE INVETÁRIO E CONTROLE</p>
        <hr class="my-2">
        <p>Mais informações</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">EM DESENVOLVIMENTO</a>
        </p>

    </div>
    <div style="padding: 10px"></div>

</div>

{% endblock conteudo %}