{% load static %}

<!DOCTYPE HTML>

<html lang="”pt-br”">

<head>

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <meta charset="”UTF-8”">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">


    <!-- Classes do bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Fim das classes do bootstrap-->

    {% comment %} FONTAWESOME {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    {% comment %} Importação do datatables CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

</head>

<body>

    {% block menu %}
    <!-- Menu de navegação-->
    <style>
        .navbar {
            position: sticky !important;
            top: 0 !important;
            t !important;
        }
    </style>

    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark navbar-fixed-top"
        style="position: relative; z-index: 999;">
        {% if request.user.is_authenticated %}

        <a class="navbar-brand" href="#">Menu</a>
        {% else%}
        {% endif%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">Página inicial</a>
                    <!--Dropdown CADASTROS-->
                </li>
                {% else%}
                {% endif%}

                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">


                    <a class="nav-link dropdown-toggle" href="#" id="Cadastros" data-toggle="dropdown">
                        Cadastros
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'registrar' %}">Cadastro de usuários</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'cadastrar-produto' %}">Cadastro de produto</a>
                        <hr>

                        <a class="dropdown-item" href="{% url 'cadastrar-cor' %}">Cadastro de cor</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'cadastrar-tamanho' %}">Cadastro de tamanho</a>
                    </div>

                </li>

                {% else %}
                {% endif %}

                <!--Dropdown LISTAS-->

                {% if request.user.is_authenticated %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Listas" data-toggle="dropdown">
                        Listas
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'listar-usuarios' %}">Lista de usuários</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'listar-pedidos' %}">Lista de pedidos</a>
                    </div>
                </li>
                {% else %}
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Listas" data-toggle="dropdown">
                        Estoque
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'listar-produtos' %}">Relação de produtos</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'estoque_entrada_list' %}">Entradas</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'estoque_saida_list' %}">Saídas</a>
                    </div>
                </li>
                {% else %}
                {% endif%}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
                {% else %}
                {% endif %}
            </ul>
        </div>

        {% comment %} Usuário logago {% endcomment %}
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <h3>
                    <i class="fas fa-user-alt" style="color:white"></i>
                </h3 </li> <li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Listas" data-toggle="dropdown">
                    <span id="username">{{ request.user }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'atualizar-dados' %}">
                        <i class="fas fa-edit"></i>
                        Editar perfil</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'alterar-senha' %}">
                        <i class="fas fa-key"></i>
                        Alterar senha</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        </li>
        </ul>
        </div?>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>
            </li>
        </ul>
        {% endif %}
    </nav>
    {% endblock menu %}

    {% if request.user.is_authenticated %}
    <!--Conteúdo da página-->
    {% block conteudo %}
    <div class="bg-secondary text-center">
        Destaques da página
    </div>
    <div class="container container-fluid text-center">
        <p>
            Conteudo do site
        </p>
    </div>
    {% endblock conteudo %}
    {% else %}
    <div style="padding: 50px">
        <hr>
        <div style="padding: 50px" class="container-fluid">
            <h2 align="center">Efetue o login para acesso ao conteúdo </h2>
            <div style="padding: 50px">
                <hr>
            </div>
        </div>
        {% endif %}

        {% if request.user.is_authenticated %}
        {% block rodape_nome %}
        <div class="bg-secondary text-center container-fluid text-light">
            Rodapé
        </div>
        {% endblock rodape_nome %}

        {% block rodape %}
        <footer class="footer fixed-botton">
            <div class="jumbotron jumbotron-fluid text-center jumbotron-fixed-botton">

                <!--Alterar cor de fundo de uma classe bootstrap com css próprio-->
                <style>
                    .jumbotron {
                        background-color: #dddddd !important;
                    }
                </style>
                <!--Fim do script CSS-->

                <div class="row">
                    <div class="col-sm-4 text-justify">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                    <hr class="vertical_line">
                    <div class="col-sm-4 text-justify">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 text-justify">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% endblock rodape %}
        {% else %}
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js">
        </script> {% endcomment %}
        {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
        {% comment %} Importação do datatables {% endcomment %}


        {% block scripts %}{% endblock scripts %}
        {% block js %}{% endblock js %}
</body>

</html>