{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Sobre</title>
{% endblock titulo %}

{% block conteudo %}
{% if request.user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="main-title">Grupo Queen</h3>
            <hr style="margin: 2px;">
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="/static/img/grupo.png" align="left">
        </div>
                <div class="col-md-8">
                    <br>
                    <h3 class="about-title">Sobre nós</h3>
                    <div id="texto_sobre">
                        <br>
                        <p> Queen Tecnologia é uma empresa brasileira, constituída em 2020, cuja especialidade é o
                            desenvolvimento de softwares para pequenas e microempresas, com ênfase no segmento têxtil.
                        </p>
                        <br>
                        <p>A empresa conta com um time pequeno, porém, arrojado, que oferece soluções modernas que contribuem
                            para ganhos de produtividade, qualidade, eficiência e eficácia, além de oferecer ferramentas que
                            promovem melhorias no gerenciamento dos processos internos. </p>
                        <br>
                        <p>O grupo oferece parceria e trabalha para integração de tecnologias que ajudam nossos clientes na
                            obtenção dos melhores resultados. </p>
                    </div>
                </div>
                    <div class="container">

        <hr>
        <span class="lead float-right mb-3" style="color: grey; font-size: 12px;"> SIIC Versão 1.0 - Junho de 2021 | Copyright &copy; 2020 Queen Tecnologia &reg; - Todos os direitos reservados</span>
        </div>
</div>
</div>
{% endif %}
{% endblock conteudo %}