{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
<title>Cadastros</title>
{% endblock titulo %}


{% block titulo_pagina %}
<h1 align="center">EXCLUSÃO DE REGISTRO</h1>
{% endblock titulo_pagina %}


{% block conteudo %}
<p>
</p>
<div class="jumbotron jumbotron-fluid bg-light">
    <H4 class="container" align=center>Exclusão de registro</H4>
    <p class="lead" align=center>Certifique-se que é o registro desejado</p>
    <hr>
    <form class="container" action="" method="POST">
        <p>
            Deseja excluir o registro: <b>{{ object }}</b>?
        </p>
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'listar-produtos' %}" class="btn btn-info">Voltar</a>

        <span>
            <button class="btn btn-danger" type="submit">Excluir</button>

        </span>
    </form>
    <hr>
</div>
{% endblock conteudo %}